@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroylight.woff2') format('woff2'), url('./assets/font/Gilroylight.woff') format('woff'), url('./assets/font/Gilroylight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroyextrabold.woff2') format('woff2'), url('./assets/font/Gilroyextrabold.woff') format('woff'), url('./assets/font/Gilroyextrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
